<!--
  Copyright (c) 2021 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<div id="prowered-by" class="row featured-section featured-section-prefix text-center featured-content-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
                <p class="small">OUR COMMUNITY</p>
                <p class="powered-by-description">We are a diverse community of members, adopters, developers, and other
                    contributors. Join us!</p>
                <p><a class="btn btn-primary" href="https://accounts.eclipse.org/contact/membership/ecdtools">Join the Community</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-community">
    <div class="container">
        <div class="row">
            <div class="col-sm-20 col-sm-offset-2">
                <div class="row">
                    <div class="col-md-8 margin-bottom-40">
                        <div class="featured-section-community-collaboration">
                            <p><img class="icon-primary" src="/images/ecdtools/community/open_source.svg" width="50"></p>
                            <h3>Open Source and Open Collaboration</h3>

                            <p>The Eclipse Cloud DevTools Working Group is a vendor-neutral community that
                                collaborates on new open source technologies for cloud native development. Community
                                members work together to define, promote and implement web and cloud-based development
                                tools, while also driving the evolution and broad adoption of these tools.</p>

                            <p>Here are a few resources to help you become more familiar with our community
                                and members:</p>

                        </div>

                        <p class="margin-top-40"><img class="icon-primary" src="/images/ecdtools/community/virtual.svg" width="70"></p>
                        <h3>Virtual Events</h3>

                        <h4>Cloud Tool Time Webinars</h4>

                        <p>The Cloud Tool Time webinar series showcases Cloud DevTools projects, technologies,
                            and adopters. The audience is anyone interested in cloud development tools, in particular
                            developers and potential adopters of the software.</p>

                        <p>To propose a Cloud Tool Time topic, or request to be a presenter, please fill out
                            <a href="https://docs.google.com/forms/d/1sa4LxDJgQ3FFhDG371WQaORdPEgzd8hhvSzm-ihexwM/edit">this
                                form</a>. These events are managed through our <a
                                href="https://www.meetup.com/Virtual-Eclipse-Community-MeetUp/">Virtual Eclipse
                                Community Meetup</a> on Meetup.com.
                        </p>

                        <p>To view previous Cloud Tool Time episodes, check out our <a
                                href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaSBxx8gLh0i9LlN2bZW6H1L">YouTube
                                Playlist</a>&nbsp;</p>

                        <h4>Cloud Chat Live Stream</h4>

                        <p>Cloud Chat is a Twitch.tv interview series that explores trends in open source
                            cloud development. This series consists of pre-recorded live streams. It is hosted by Jesse
                            Williams from AWS, and features project leads, contributors, adopters and other cloud
                            development enthusiasts. Guests are interviewed about their projects, cloud-native best
                            practices, product road maps and other topics of interest. Some guests also provide live
                            demos.&nbsp;</p>

                        <p>To propose a Cloud Chat topic or request to be a guest, please complete <a
                                href="https://docs.google.com/forms/d/1sTzExiFfONLJGnWtkyq3QPr6TWnpt2b0wyNXjijsvv0/edit">this
                                form</a>.&nbsp;</p>

                        <p>To view previous Cloud Chat episodes, check out our <a
                                href="https://www.twitch.tv/cloudchat_/videos">Twitch.tv Channel</a></p>

                    </div>
                    <div class="col-md-8 margin-bottom-40">
                        <p><img src="/images/ecdtools/community/calls.svg" width="50"></p>
                        <h3>Calls</h3>

                        <h4>Steering and Marketing Committee Calls</h4>

                        <p>We hold bi-weekly Steering and Marketing Committee calls. Minutes are distributed on the
                            <a href="https://accounts.eclipse.org/mailing-list/ecd-tools-wg">Cloud DevTools working
                            group list</a>.</p>

                        <h4>Cloud DevTools Community Calls</h4>

                        <p>We hold regular, roughly quarterly, community calls, where we discuss ongoing initiatives,
                            upcoming events and give projects the opportunity to share updates with the community.
                            These are listed on the <a href="https://calendar.google.com/calendar/u/0/embed?src=c_atlvn0hqrerh0bnr4ag25tpm8g@group.calendar.google.com&ctz=Europe/Dublin">
                            Cloud DevTools Google calendar</a> and announced on the <a href="https://accounts.eclipse.org/mailing-list/ecd-tools-wg">Cloud DevTools
                            working group list</a>.</p>

                        <p>Recordings of previous Cloud DevTools Community Calls can be found on our <a
                                href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaQi-Tg57o1b3iYmxCxHxY0C">YouTube
                                playlist</a>.</p>

                        <h4>Project Calls</h4>

                        <p>Several projects within the Cloud DevTools ecosystem hold their own calls to keep
                            in touch with their communities. If you leverage any of these projects or are just curious
                            to know more, please consider attending.</p>

                        <p><a href="https://github.com/eclipse/che/wiki/Che-Dev-Meetings">Eclipse Che
                                Community Meeting</a>: These weekly calls are meant for Che adopters and contributors to
                            chat about project development details (can be planning, concerns, or more technical
                            details). The goal is to better synchronize and organize efforts of the various contributors
                            in order to make Che better.</p>

                        <p><a href="https://github.com/eclipse-theia/theia/wiki/Dev-Meetings">Eclipse Theia Dev
                                Meeting</a>: Developers, adopters, and anyone interested can join this weekly call to
                            discuss anything related to the development and improvement of Theia.</p>

                        <p class="margin-top-40"><img src="/images/ecdtools/community/calendar.svg" height="50"></p>
                        <h3>Calendar</h3>

                        <p>All Cloud DevTools calls and events are managed through a single shared Google
                            calendar.</p>

                        <p><a
                                href="https://calendar.google.com/calendar/u/0/embed?src=c_atlvn0hqrerh0bnr4ag25tpm8g@group.calendar.google.com&amp;ctz=Europe/Dublin">Web
                                Version</a> - Use the + in the bottom right to add it to your calendar</p>

                        <p>iCal Format - Compatible with most other calendar clients</p>

                    </div>
                    <div class="col-md-8 margin-bottom-40">
                        <p><img src="/images/ecdtools/community/communication.svg" height="50"></p>
                        <h3>Communication Channels</h3>

                        <h4>Mailing Lists</h4>

                        <p>We use mailing lists for all official communications. They are freely accessible
                            but you must create an <a href="https://accounts.eclipse.org/user/register">Eclipse.org
                                account</a> to subscribe.</p>

                        <ul>
                            <li><a href="https://accounts.eclipse.org/mailing-list/ecd-tools-wg">Cloud DevTools working
                                    group list</a></li>
                            <li><a href="https://accounts.eclipse.org/mailing-list/ecd-pmc">Cloud DevTools Project
                                    Management Committee (PMC) list</a></li>
                        </ul>

                        <p>Most Cloud DevTools projects also have their own mailing list. You will find them
                            on <a href="https://accounts.eclipse.org/mailing-list">this page</a>.</p>

                        <h4>Instant Messaging</h4>

                        <p>We use Slack for instant messaging. Join us at ecd-tools.slack.com.</p>

                        <h4>Social Media</h4>

                        <ul class="list-unstyled">
                            <li><i class="fa fa-twitter"></i>&nbsp;-&nbsp;Follow us on <a href="https://twitter.com/ecdtools">Twitter</a></li>
                            <li><i class="fa fa-linkedin"></i>&nbsp;-&nbsp;Follow us on <a href="https://www.linkedin.com/showcase/70077324/admin/">LinkedIn</a>
                            </li>
                            <li><i class="fa fa-twitch"></i>&nbsp;-&nbsp;Follow us on <a href="https://www.twitch.tv/cloudchat_">Twitch.tv</a></li>
                            <li><i class="fa fa-youtube"></i>&nbsp;-&nbsp;Follow us on <a
                                    href="https://www.youtube.com/playlist?list=PLy7t4z5SYNaQi-Tg57o1b3iYmxCxHxY0C">YouTube</a>&nbsp;
                            </li>
                        </ul>

                        <p>Some ideas to amplify our message:</p>

                        <ul>
                            <li>
                                <p>Always use the #EclipseCloudDevTools whenever relevant in your posts</p>
                            </li>
                            <li>
                                <p>Additionally, use a project specific hashtag from the following list : #eclipseglsp, #eclipsetheia, #emfcloud, #cdtcloud, #eclipseche</p>
                            </li>
                            <li>
                                <p>Ask your company&rsquo;s social media manager to follow and retweet from
                                    official handles</p>
                            </li>
                            <li>
                                <p>Please share news and updates with your own personal networks</p>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
